<div class ="mt-4">
    <form method = "POST" >
  <div class ="form-group">
    <label for="exampleInputEmail1">Nhập Từ Khóa</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập Từ Khóa Của Bạn ... ">
   
  </div>

  <div class ="form-group">
    <label for="exampleInputEmail1">Nhập Từ Khóa</label>
    <select name="gender" class = "form-control" id="gender-input">
      <option value="">-- Chọn Giới Tính --</option>
      <option value="Male">Name</option>
      <option value="Female">Nữ</option>
    </select>
   
  </div>
  
  
  <button type="submit" class="btn btn-primary">Tìm Kiếm </button>
</form>
</div>